@import '../../styles.scss';

.menue-wrapper{
    height: 75vh;
    width: 60vw;
    @include dFlex(flex, flex-start, flex-start, wrap, 18px)
}
.product-button{
    @include dFlex(flex, column, center, center, wrap, 5px );
    font-size: 20px;
    color: white;
    background-color: black;
    width: 120px;
    height: 80px;
    >p{
        margin: 0
    }
}