<section>
  <div class="cart-wrapper">
    <div class="order">
      @for (item of orderService.actualOrder; track $index) {
      <div class="item-div">
        <p class="name">{{ item.product.name }}</p>
        @if(!item.product.options){
        <p class="size">{{ item.product.size }}</p>
        <p class="price">{{ orderService.getPricePerProduct(item.product.price, $index) }} €</p>
        <div class="amount-div">
          <button (click)="changeAmount($index, -1)">-</button>
          <p class="amount">{{ item.amount }}</p>
          <button (click)="changeAmount($index, +1)">+</button>
        </div>

        }@else{
        <p class="option-name">{{ item.option?.name }}</p>
        <p class="price">{{ orderService.getPricePerProduct(item.option?.price, $index) }} €</p>
        <p class="size">{{ item.option?.variant }}</p>
        <div class="amount-div">
          <button (click)="changeAmount($index, -1)">-</button>
          <p class="amount">{{ item.amount }}</p>
          <button (click)="changeAmount($index, +1)">+</button>
        </div>

        }
      </div>
      }
    </div>
    <div class="payment-div">
      <p class="total-price">
        Total: {{ this.orderService.getTotalPrice() }} €
      </p>
      @if(!this.orderService.checkingOrder()){
        <button
          class="pay-button"
          [disabled]="orderService.actualOrder.length < 1"
          (click)="checkOrder()">Check Order
        </button>
      }@else if(this.orderService.checkingOrder()){
        <button class="pay-button" (click)="openCalculator()">Pay</button>
      }
      
      
    </div>
  </div>
</section>
