<div class="payment-wrapper">
  <label for="Cash" class="input-wrapper">
    <div class="radio-wrapper">
      <input
        type="radio"
        name="paymentMethod"
        id="Cash"
        value="Cash"
        (change)="setPaymentMethod('Cash')"
      />
      <span>Cash</span>
    </div>
  </label>

  <label for="Card" class="input-wrapper">
    <div class="radio-wrapper">
      <input
        type="radio"
        name="paymentMethod"
        id="Card"
        value="Card"
        (change)="setPaymentMethod('Card')"
      />
      <span> Card</span>
    </div>
  </label>
</div>
