@import '../../styles.scss';

.payment-wrapper{
     @include dFlex(flex, column, center, center, nowrap, 25px);
     min-width: 80%;
}

.input-wrapper{
    @include dFlex(flex, row-reverse, center, space-between, nowrap, 25px);
    min-width: 80%;
    background-color: rgba(128, 128, 128, 0.459);
    font-size: 24px;
    border: 1px solid;
    border-radius: 24px;
    padding: 10px 15px;
    input[type="radio"] {
        -ms-transform: scale(1.5); 
        -webkit-transform: scale(1.5); 
        transform: scale(1.5);       
    }
    >.radio-wrapper{
        width: 100%;
            @include dFlex(flex, row-reverse, center, space-between, nowrap, 25px);
        }
}